.edit {
  color: green;
}

.delete {
  color: red;
}

.date {
  margin-right: 2em;
  color: #9d0191;
}

.react-calendar {
  border-radius: 10px;
  border-color: #120078;
}

.react-calendar__tile {
  border-radius: 15px;
}