body {
    font-family: 'Montserrat', sans-serif;
}

/* TEXT */
.blue {
    color: #120078;
}
.red {
    color: #fd3a69;
}
.purple {
    color: #9d0191;
}
.yellow {
    color: #fecd1a;
}
.white {
    color: #fff;
}

/* BACKGROUNDS */
.blueBG {
    background: #120078;
}
.redBG {
    background: #fd3a69;
}
.purpleBG {
    background: #9d0191;
}
.yellowBG {
    background: #fecd1a;
}

/* FONTS */
.logo {
    font-family: 'Fascinate', cursive;
}
.bold {
    font-weight: 700;
}

/* OTHER */
.imitate-btn:hover {
    cursor: pointer;
}