body {
    font-family: 'Montserrat', sans-serif;
}

/* TEXT */
.blue {
    color: #120078;
}
.red {
    color: #d92027;
}
.purple {
    color: #9d0191;
}
.yellow {
    color: #ffcd3c;
}
.white {
    color: #fff;
}
.orange {
    color: #ff9234;
}

/* BACKGROUNDS */
.blueBG {
    background: #120078;
}
.redBG {
    background: #d92027;
}
.purpleBG {
    background: #9d0191;
}
.yellowBG {
    background: #ffcd3c;
}
.orangeBG {
    background: #ff9234;
}
.whiteBG {
    background: white;
}

/* FONTS */
.logo {
    font-family: 'Rammetto One', cursive;
}
.bold {
    font-weight: 700;
}
.xlarge {
    font-size: 6vmin;
}
.large {
    font-size: 4vmin;
}
.medium {
    font-size: 2.2vmin;
}
.small {
    font-size: 1vmax;
}

/* OTHER */
.imitate-btn {
    color: black;
    text-decoration: none;
}
.imitate-btn:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

/* LINK TO LOOK LIKE BUTTON */
.button {
    font: bold 30px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #120078;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.table-header {
    background-color: #120078;
    color: white;
}